:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(15, 1, 1, 0.87);
  background-color: #e3d8d8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.page-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-content {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: auto;
  padding: 10px;
  background-color: rgb(31, 6, 173);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-content a {
  font-size: 21px;
  font-weight: bold;
  color:  rgb(255, 255, 255);
}
.nav-content a {
  color: rgb(255, 255, 255);
}
.hamk-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.body-container {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;

}
.left-nav-container, .right-nav-container {
  box-sizing: border-box;
  width: 20%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  bottom: 0;
  overflow: auto;
  
}
.left-nav-container {
  left: 0;
}
.right-nav-container {
  right: 0;
}
.right-nav-content, .left-nav-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
  box-shadow: 3px 2px rgba(118, 114, 137, 0.5);
  padding: 20px;
  margin: 5px;
  border-radius: 7px;
  

}
.main-container {
  width: 58%;
  /* Adjust height to fit content instead of setting to 100vh */
  min-height: 80vh;
  margin: 20px;
}

.main-content {
  padding: 20px;
  background-color: antiquewhite;
  /* Remove fixed height to allow content to adjust dynamically */
  height: auto;
  border-radius: 7px;
}
.community-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  background-color: rgb(180, 213, 202);
}
.community-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.card-community {
  box-sizing: border-box;
  flex-basis: 25%;
  border-radius: 7px;
  padding: 10px;
  margin: 5px;
  background-color: antiquewhite;
}

.card-community p {
  font-size: 20px;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #e3d8d8;
}
.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  height: 700px;
  background-color: rgb(7, 42, 31);
  border-radius: 10px;
}
.login-content input {
  box-sizing: border-box;
  width: 80%;
  height: 60px;
  margin: 5px;
  border-radius: 7px;
  color: #e3d8d8;
  border-color: #e3d8d8;
  padding: 10px;
  font-size: 18px;
}
.login-content button {
  box-sizing: border-box;
  width: 80%;
  background-color: #e3d8d8;
  color: #1a1a1a;
  font-size: 18px;
  margin-top: 20px;
}
.login-content label input {
  box-sizing: border-box;
  width: 20px;
  background-color: #e3d8d8;
  color: #1a1a1a;
  font-size: 18px;
}
.forum-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-width: 10px;
  border-color: #1a1a1a;
  padding: 20px;
  background-color: #9b7c7c;
}
.post-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #1a1a1a;
  margin: 10px;
  
  padding: 10px;
}
.post-text {
  box-sizing: border-box;
  border-width: 2px;
  border: 2px solid #1a1a1a;
  background-color: antiquewhite;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 2px 2px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
